<div ng-controller="SettingsController">
<super-navbar>
    <super-navbar-title>
      Photoshop Shortcuts
    </super-navbar-title>
  </super-navbar>

<!--tools-->

<div class="list">
    
  
  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Move
    <span class="item-note">V</span>
  </a>
    
  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Rectangular Marquee
    <span class="item-note">M</span>
  </a>
    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Elliptical Marquee
    <span class="item-note">Shift+M</span>
  </a>
      <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Lasso
    <span class="item-note">L</span>
  </a>
   <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Polygonal Lasso
    <span class="item-note">Shift+L</span>
  </a>
    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Magnetic Lasso
    <span class="item-note">Shift+L</span>
  </a>
    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Magic Wand
    <span class="item-note">Shift+L</span>
  </a>
<a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Quick Selection
    <span class="item-note">Shift+L</span>
  </a>
    
    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Crop
    <span class="item-note">Shift+L</span>
  </a>
    
    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Slice
    <span class="item-note">Shift+L</span>
  </a>

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Slice Select
    <span class="item-note">Shift+L</span>
  </a>
    
    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Eyedropper
    <span class="item-note">Shift+L</span>
  </a>
    
    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Color Sample
    <span class="item-note">Shift+L</span>
  </a>
    
    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Ruler
    <span class="item-note">Shift+L</span>
  </a>
    
   <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Note
    <span class="item-note">Shift+L</span>
  </a>
    
    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Count
    <span class="item-note">Shift+L</span>
  </a>    

        <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Spot Healing Brush
    <span class="item-note">Shift+L</span>
  </a>
    
        <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Patch
    <span class="item-note">Shift+L</span>
  </a>
    
        <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Red Eye
    <span class="item-note">Shift+L</span>
  </a>
    
        <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Brush
    <span class="item-note">Shift+L</span>
  </a>
    
        <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Pencil
    <span class="item-note">Shift+L</span>
  </a>
    
        <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Color Replacement
    <span class="item-note">Shift+L</span>
  </a>
        
    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Mixer Brush
    <span class="item-note">Shift+L</span>
  </a>

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Clone Stamp
    <span class="item-note">Shift+L</span>
  </a>    
    
    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Pattern Stamp
    <span class="item-note">Shift+L</span>
  </a>    
    
    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    History Brush
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Art History Brush
    <span class="item-note">Shift+L</span>
  </a>
    
        <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Eraser
    <span class="item-note">Shift+L</span>
  </a>
    
        <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Background Eraser
    <span class="item-note">Shift+L</span>
  </a>
    
    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Magic Eraser
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Gradient
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Paint Bucket
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Dodge
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Burn
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Sponge
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Pen
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Freeform Pen
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Horizontal Type
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Vertical Type
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Horizontal Type Mask
    <span class="item-note">Shift+L</span>
  </a>    
                                        
    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Vertical Type Mask
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Path Selection
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Direct Selection
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Rectangle
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Rounded Rectangle
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Ellipse
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Polygon
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Line
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Custom Shape
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    3D Object Rotate
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    3D Object Roll
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    3D Object Pan
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    3D Object Slide
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    3D Object Scale
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    3D Camera Rotate
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    3D Camera Roll
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    3D Camera Pan
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    3D Camera Walk
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    3D Camera Zoom
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Hand
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Rotate View
    <span class="item-note">Shift+L</span>
  </a>    

    <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon super-chatbubble-working"></i>
    Zoom
    <span class="item-note">Shift+L</span>
  </a>    
                                                                                            
    
    
    
    
</div>



<div class="padding">
    

    
  <p>Awesome! This file is located at <strong>app/example/views/getting-started.html</strong> &mdash; open it, change some text and save the file. The changes are updated to all connected devices. Cool, huh?</p>
    


  <p>Below, you can see our multi-page navigation in action. Tap on a button to move to a new view.</p>

  <super-navigate view-id="using-the-scanner">
    <button class="button button-block button-positive icon-left super-wand">Using the AppGyver Scanner</button>
  </super-navigate>

  <super-navigate view-id="learn-more">
    <button class="button button-block button-positive icon-left super-university">Learn more</button>
  </super-navigate>

  <h2>Get in touch with us!</h2>

  <p>Feel free to contact us at <a href="mailto:contact@appgyver.com">contact@appgyver.com</a>, we would love to get your feedback!</p>
    
    <a class="button button-icon icon super-social-twitter"></a>
    
</div>
